@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
	font-family: "Roboto Condensed";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
	background-color: #f2f3f3
}
